<h1><% @linea.id %></h1>

<% @linea.productos.each do |p| %>
    <%= image_tag p.foto%>
    <%= p.name %>
    <%= p.marca %>
    <%= p.sku %>
<% end %>

<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
