<%= form_for(@producto) do |f| %>
<div class="row">
    <div class="margen-formulario col-md-6">
        <form>
          <div class="form-group">
            <label>Nombre Producto</label>
            <%= f.text_field :name, class: "form-control", required: true, placeholder:"nombre" %>
          </div>

          <div class="form-group">
            <label>Marca</label>
            <%= f.text_field :marca, class: "form-control", required: true,  placeholder:"marca" %>
          </div>
          
          <div class="form-group">
            <label>SKU</label>
            <%= f.number_field :sku, class: "form-control", required: true,  placeholder:"#sku" %>
          </div>
          
          <div class="form-group">
            <label>Foto</label>
            <%= f.text_field :foto, class: "form-control", required: true,  placeholder:"foto" %>
          </div>
          
          <div class="form-group">
            <label>Linea</label>
           <%= f.select :linea_id, options_for_select(Linea.all.collect {|p| [p.name, p.id]} , @producto.linea_id), {}, class: "form-control", required:true %>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<% end %>
